<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895577377353-8fr8vha9tdqhn5u1r3ce4h7qsbshr07e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895577377353-8fr8vha9tdqhn5u1r3ce4h7qsbshr07e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>895577377353-1n7g4m7s1v6edcvb7st4a1mffhth7p69.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB83cPJvXmaFPKcaVpwGb-Pjg2GiB32GAc</string>
	<key>GCM_SENDER_ID</key>
	<string>895577377353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.life.customer.uat</string>
	<key>PROJECT_ID</key>
	<string>customerapp-afe6c</string>
	<key>STORAGE_BUCKET</key>
	<string>customerapp-afe6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895577377353:ios:3f13cfa58f6c3e3f42cd98</string>
</dict>
</plist>