<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key/>
	<string/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Life by IFG</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(IOS_VERSION_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(IOS_FACEBOOK_URL_SCHEMES)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.895577377353-39j3gtopkopu8a1r2d3spb3n09hnasbm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>idlifecustomer</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>$(IOS_CODE_PUSH_DEPLOYMENT_KEY)</string>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>FacebookClientToken</key>
	<string>$(FACEBOOK_CLIENT_TOKEN)</string>
	<key>FacebookDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSCameraUsageDescription</key>
	<string>$(DISPLAY_NAME) needs accessing your Camera to update your profile picture.</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) want to use your list contact for send our promo</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$(PRODUCT_NAME) want to use your TouchId or FaceID for setting pin</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(DISPLAY_NAME) want to use your location to check your session location, so user can track last login and manage session on your apps</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is required to check your session location, so user can track last login and manage session on your apps</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is required to check your session location, so user can track last login and manage session on your apps</string>
	<key>NSMotionUsageDescription</key>
	<string>$(DISPLAY_NAME) Use the motion sensor to get the phone orientation</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(DISPLAY_NAME) needs access to your Gallery  to update your profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
